.mycanvas {
    border: 1px solid #602870;

}

.container {
    margin-left: 15px;
    margin-top: 15px;
}

body {
background-image: url("../image/background-polygonal-gradient.jpg");
}

.mycanvas {
    background-color: white;
}

#titulo {
    color: #231470;
    font-style: oblique;
}